@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
body {
    background-color: rgb(235, 215, 190);
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Inter', sans-serif;
}

.header {
    margin-bottom: 5em;
    font-weight: bold;
}

.body {
    display: flex;
}

.text {
    flex-basis: 70%;
    margin-right: 2em;
}

.image {
    flex-basis: 30%;
}

#rebecca {
    max-width: 100%;
    height: auto;
}